name: CI
on:
  push:
    branches: ["master", "main"]
  pull_request: # needed to trigger on others' PRs
  workflow_dispatch: # needed to trigger workflows manually

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
        python-version: [3.8, 3.9, "3.10", "3.11"]

    runs-on: ${{ matrix.platform }}

    steps:
      - run: echo "$HOME/.local/bin" >> $GITHUB_PATH

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # nicer to have all git history when debugging/for tests

      - run: ./install

      - uses: actions/upload-artifact@v2
        with:
          name: .coverage.mypy-${{ matrix.platform }}_${{ matrix.python-version }}
          path: .coverage.mypy/
